table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

th {
    background-color: #ccc;
}

#drug-info {
    display: none;
    margin-top: 20px;
}
#result {
  margin-top: 20px;
}
